---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

.is-collapsed {
  max-height: none !important;
}

/* append your custom style below */
.highlighting-underline {
  background: linear-gradient(transparent 60%, #1b99f3 80%);
  padding: 2px 4px;
}
